.product {
    border: 1px solid rgb(197, 195, 195);
    border-radius: 8px;
    padding: 8px;
    position: relative;
}

.product img {
    margin: 0 auto;
    text-align: center;
    width: 286px;
    border-radius: 8px;
}

.product .name {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: .0015em;
    margin: 12px 0;
}

.product .product-info {
    margin-bottom: 15px;
}

.product-info p {
    margin: 5px 0;
}

.product .btn-cart {
    background-color: rgb(226, 197, 133);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}